@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border m-0 p-0;
}
html {
	@apply scroll-smooth h-full;
	height: -webkit-fill-available;
}
body {
	@apply bg-white min-h-screen relative pb-[-42px] font-mono text-secondary text-sm md:text-base font-light leading-7;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 100 800;
	font-display: optional;
	src: url(/fonts/JetBrainsMono.woff2) format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 100 800;
	font-display: optional;
	src: url(/fonts/JetBrainsMono-Italic.woff2) format('woff2');
}
