@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-white h-full font-mono text-secondary text-sm md:text-base font-light leading-7;
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/jetbrains-mono-v13-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-100.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains-mono-v13-latin-100.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-100.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-100.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/jetbrains-mono-v13-latin-100.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

/* jetbrains-mono-200 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/jetbrains-mono-v13-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-200.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains-mono-v13-latin-200.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-200.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/jetbrains-mono-v13-latin-200.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

/* jetbrains-mono-300 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/jetbrains-mono-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains-mono-v13-latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/jetbrains-mono-v13-latin-300.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains-mono-v13-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/fonts/jetbrains-mono-v13-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/jetbrains-mono-v13-latin-regular.svg#JetBrainsMono')
      format('svg'); /* Legacy iOS */
}

/* jetbrains-mono-500 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/jetbrains-mono-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains-mono-v13-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/jetbrains-mono-v13-latin-500.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

/* jetbrains-mono-600 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/jetbrains-mono-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains-mono-v13-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/jetbrains-mono-v13-latin-600.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

/* jetbrains-mono-700 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/jetbrains-mono-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains-mono-v13-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/jetbrains-mono-v13-latin-700.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

/* jetbrains-mono-800 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/jetbrains-mono-v13-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-800.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains-mono-v13-latin-800.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-800.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains-mono-v13-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/jetbrains-mono-v13-latin-800.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}
